<!DOCTYPE html>
<html lang="{{ app.request.getLocale() }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Cooopons CMS</title>

    <link rel="stylesheet" href="{{ asset('/css/admin.css') }}">
</head>
<body>
<div id="app">
    <form method="post" action="{{ path("fos_user_security_check") }}">
        <h2>{{ 'security.label'|trans }}</h2>

        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% for errorMessage in app.session.flashBag.get('error') %}
            <div class="alert alert-danger">{{ errorMessage|trans }}</div>
        {% endfor %}

        <div>
            <label for="username" class="sr-only"></label>
            <input type="text" value="{{ last_username }}" name="_username" id="username" class="form-control" placeholder="{{ 'security.login'|trans }}" autocomplete="username" required autofocus>
        </div>

        <div>
            <label for="password" class="sr-only"></label>
            <input type="password" name="_password" id="password" class="form-control" placeholder="{{ 'security.password'|trans }}" autocomplete="current-password" required>
        </div>

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        <button class="btn btn-lg btn-primary" name="_submit" type="submit">
            {{ 'security.submit'|trans }}
        </button>
    </form>
</div>

{% block javascripts %}{% endblock %}
</body>
</html>
